@font-face {
    font-family: 'JetbrainsMono';
    src: url("assets/fonts/JetBrainsMono-Regular.ttf");
    font-weight: 300;
}
@font-face {
    font-family: 'JetbrainsMono';
    src: url("assets/fonts/JetBrainsMono-Thin.ttf");
    font-weight: 100;
}
@media (max-width: 768px) {
    .section {
    width: 100%;
    }
}
* {
    box-sizing: border-box;
    font-size: inherit;
    padding: 0;
    margin: 0;
    list-style: none;
}
html {
    scroll-behavior: smooth; 
}
body {
    font-family: 'JetbrainsMono';
    min-height: 100vh;
    margin: 0; padding: 0;
    background-color:rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 100;
}
/* .header, main, footer { */
    /* border: 1px solid rgb(41, 41, 41); */
/* } */
/* aside {
    border: 1px solid rgb(255, 0, 0);
} */
.header {
    background-color: rgb(250, 218, 221);
}
.container {
    max-width: 1440px;
    margin: 0 30px;
}
.nav-list {
    gap: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}
.nav-link {
    line-height: 50px;
    text-decoration: none;
    font-weight: 300;
    color: rgb(128, 128, 128);
    transition: .5s;
    position: relative;
}
.nav-link:hover {
    color: #ffffff;
}
.nav-link:hover:before {
    transform: scaleX(1);
    transform-origin:center;
    transition: transform 0.5s;
}
.nav-link:before {
    content: '';
    width: 100%; height: 2px;
    background-color: white;
    position: absolute;
    left: 0; bottom: -13px;
    transform: scaleX(0);
}

.photo { /* my foto */
    width: 300px;
    margin: -15px -40px; 
    /* filter: grayscale(100%);  */
}
.photo-cirkle {
    width: 170px;
    height: 170px;
    margin: 30px 10px 10px 10px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 15px rgb(179, 165, 165);
}
.section-title-name {
    font-size: 30px;
    font-weight: 100;
    margin: 5px;
    margin-bottom: 0;
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase;
}
.section-title {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #393f39;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 20px 0 20px;
}
.section-aside {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-aside {
    width: 25%;
    min-width: 250px;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(250, 218, 221);
}
main {
    display: flex;
    gap: 20px;
}
.section-awhite {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-aside-pink {
    background-color: rgb(250, 218, 221);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
.lang-list {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    gap: 10px;
    color: #393f39;
    text-transform: uppercase;
    font-weight: 300;
    list-style: none;

}
.section {
    width: 100%;
}
.profession {
    padding: 0 0 20px;
}
.contacts-ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contacts {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
}
.skills-hard {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.skills-soft {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.skills-both {
    display: flex;
    gap: 100px;
}
.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}
.hobbies {
    display:flex;
    gap: 40px;
}
.hobby-left {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.hobby-right {
    display: flex;
    flex-direction: column;
    gap: 5px;
}